.products-container {
  display: flex;
  gap: 10px;
  width: 100%;
  overflow: hidden;
}

.product {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-decoration: none;
  color: inherit;
}

.price {
  text-align: right;
}
